/**
 * @section Base Styles
 */

body {
  font-size: 125%;
  margin: 0 auto;
  max-width: 42em;
  width: 88%;
}

input,
textarea,
select,
button {
  font: inherit;
}

button.disabled,
button[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
